<!DOCTYPE html>
<html>
<head>
  <title>ComicBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
  <script src="https://use.fontawesome.com/1bbaca3fad.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
</head>
<h1>ComicBox</h1>
<body>

<%= yield %>

</body>
<a class="home" href="/publishers/"><i class="fa fa-archive" aria-hidden="true"></i></a>
</html>
