<!DOCTYPE html>
<html>
<head>
  <title>ComicBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
  <script src="https://use.fontawesome.com/1bbaca3fad.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
</head>
<body>
  <h1>ComicBox</h1>
  <% if !current_user %>
    <nav><%= link_to "Sign Up", new_user_registration_path %></nav> | <nav><%= link_to "Sign In", new_user_session_path %></nav>
  <% else %>
    <nav><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></nav>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
<a class="home" href="/publishers/"><i class="fa fa-archive" aria-hidden="true"></i></a>
</html>
